* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #272a31;
  --color-secundary: #ec5242;
  --background-primary: #d3d3d3;
  --font-family--primary: 'COCOGOOSE', sans-serif;
  --font-family-secundary: 'Lato', sans-serif;
}

body {
  font-family: var(--font-family-secundary);
  font-size: 12px;
  background-color: #fffbfb;
  font-weight: bold;
  color: #3b3c3e;
  scroll-behavior: smooth;
}

*a {
  text-decoration: none;
  color: var(--color-primary)
}

*img {
  width: 10%;
}

*hr {
  width: 15%;
  margin: 0 auto;
  margin: 10px auto 10px auto;
}

// Main page
 /* Mobil version - Main page ------------------------------------------------------ */
@media screen and (max-width: 768px) {

  header {
    .nav-bar-section1 {
      display: none;
    }

    .nav-bar-section2 {
      display: none;
    }

    .hamburguer-button {
      position: fixed;
      left: 5%;
      top: 2%;
      font-size: 1.5rem;
      color: var(--color-primary);
      text-shadow: 3px 3px 2px white;
      z-index: 100;
    }
  }

  main {
    .intro-container {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: column;
      padding: 60px 5% 60px 5%;
      position: relative;

      h2 {
        color: var(--color-secundary);
        font-weight: lighter;
        font-size: 20px;
      }

      h1 {
        color: rgba(255, 0, 0, 0);
        font-family: var(--font-family--primary);
        font-weight: bold;
        font-size: 29px;
        width: 100%;
        line-height: 29px;
        margin: 1% 0 1% 0;
        background-image: url(assets/Erik\ Capstone.jpg);
        background-repeat: no-repeat;
        background-size: 150%;
        background-clip: text;
        background-position: 50% 55%;
      }

      .intro-paragraph1 {
        width: 100%;
        background-color: rgb(247, 247, 247);
        border: 2px solid white;
        padding: 15px;
        margin: 15px 0 15px 0;
        font-size: 12px;
      }

      .intro-paragraph2 {
        display: flex;
        font-weight: 800;
        font-size: 20px;
      }

      .intro-paragraph3 {
        font-size: 19px;
        font-weight: lighter;
        color: var (--color-primary);
        font-size: 12px;
      }

      .main-background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -2;

        .mainbg-1 {
          width: 100%;
          height: 100px;
          background-image: url(assets/main-background.jpg);
          background-size:cover;
          background-repeat: no-repeat;
          opacity: 0.2;
        }

        .mainbg-2 {
          position: absolute;
          width: 10vw;
          height: 10vw;
          bottom: 10%;
          right: 14%;
          img {
            width: 100%;
            opacity: 0.1;
          }
        }

        .mainbg-3 {
          position: absolute;
          width: 20vw;
          max-width: 100px;
          height: 20vw;
          max-height: 100px;
          top: 38%;
          right: 12%;
          background-image: url(assets/Icons/hitmark_onb.png);
          background-size: 18px;
          border-radius: 50%;          
        }

        .mainbg-4 {
          position: absolute;
          width: 6vw;
          height: 6vw;
          bottom: 5%;
          left: 19%;
          img {
            width: 100%;
            opacity: 0.2;
          }
        }

        .mainbg-5 {
          position: absolute;
          width: 9vw;
          height: 9vw;
          top: 5%;
          right: 29%;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          img {
            width: 100%;
            opacity: 0.1;
          }
        }
      }
    }

    // Main program section ---------------------------------------------------------
    .main-program-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-image: url(assets/Icons/hitmark_gray.png);
      background-size: 20px;
      background-color: var(--color-primary);
      color: var(--background-primary);
      padding: 0 0 0 0;

      .container-main-program {
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 100%;
        height: 100%;
        background-color: rgba(85, 80, 80, 0.466);
        padding: 5% 5% 0 5%;

        h3 {
          text-align: center;
        }

        .card-main-program {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: rgba(231, 218, 218, 0.181);
          margin: 5px 0 5px 0;

          .card-logo {
            width: 20%;
            min-width: 50px;
            margin: 1px 2% 1px 2% ;
            display: flex;
            justify-content: center;
            padding: 0 5px 0 5px;
            img {
              width: 70%;
            }
          }

          .card-title {
            width: 20%;
            padding: 0;
            font-size: .8rem;
            color: var(--color-secundary);
            text-align: left;
          }

          .card-text {
            width: 60%;
            padding: 2%;
            font-size: 0.6rem;
          }
        }

        .card-button {
          background-color: var(--color-secundary);
          width: 80%;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 40px auto;
          font-size: .8rem;
        }
      }
    }

    // Speakers ---------------------------------------------------------------
    .features-speakerSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .fs-title {
        margin: 20px 0 0 0;
      }

      hr {
        border: 1px solid var(--color-secundary);
        width: 9%;
        margin-bottom: 20px;
      }

      .contaier-speakers {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .container-info-fs {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
          padding: 0 15px 30px 15px;
          
          .container-img-fs {
            width: 43vw; 
            height: 39vw;
            
            display: flex;
            justify-content: right;
            align-items: flex-end;   

            background-image: url(assets/bgi/chess_black5.png);
            background-repeat: no-repeat;
            background-size: 50%;

            img {
              width: 37vw;
              width: 33vw;
            }
          } 
          .container-text-fs {
            width: 60%;
            height: 100%;
            margin-left: 10px;
            .fscard-name {
              font-weight: bold;
              font-size: 1rem;
            }
            .fscard-degree {
              color: var(--color-secundary);
              font-size: 11px;
            }
            .hr-speaker {
              margin: 10px 0 10px 0;
              padding: 0;
              height: 0;
              border: 1px solid #272a31;
            }
            .fscard-text {
              font-size: 100%;
            }
          } 
        }       
      }

      .fs-buttonMore {
        border: 1px solid rgba(0, 0, 0, 0.307);
        width: 90%;
        height: 30px;
        margin: 20px 0 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          margin-right: 10px;
        }

        i {
          color: var(--color-secundary)
        }
      }
    }
  }

    /* Modal Menu */
  .modal-menu {
    display: none;
    position: fixed;
    backdrop-filter: blur(55px);
    background-color: rgba(135, 55, 9, 0.537);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0%;
    z-index: 900;

      i {
        position: absolute;
        left: 5%;
        top: 2%;
        font-size: 1.5rem;
        transition: all 0.1s ease-in;
        color: white;
        text-shadow: 2px 2px 2px black;
      }

      .modal-hamburguer {
        position: absolute;
        list-style: none;
        text-align: center;
        width: 100%;
        top: 20%;
        margin: 0;
        padding: 0;
        padding-bottom: 100px;

        li {
          text-decoration: none;
          font-size: 1.5rem;
          margin: 0;
          padding-top: 10px;
          padding-bottom: 15px;
          transition: all 0.1s;
          a {
            text-decoration: none;
            margin: 0;
            color: rgb(254, 250, 250);
            text-shadow: 2px 2px 2px black;
          }
        }
        li a:hover {
          transform: scale(1.2);
          color: var(--color-secundary);
        }
      }
      .modal-hamburguer li:hover {
        transform: scale(1.2);
        color: var(--color-secundary);
      }


    }
  .modal-menu i:hover {
      transform: scale(1.2);
      color: var(--color-secundary);
    }
  .modal-hamburguer a:hover {
    color: var(--color-secundary);
    }
}

  /* Desktop version - Main page------------------------------------------------------ */
@media screen and (min-width: 769px) {
  header {
    .nav-bar {
      .nav-bar-section1 {
        display: flex;
        flex-direction: row;
        justify-content: right;
        height: 35px;
        background-color: var(--color-primary);
        color: var(--background-primary);
        text-align: center;
        align-items: center;
        padding-right: 10%;

        div {
          padding-left: 2%;
          cursor: pointer;
        }

        div:hover {
          color: #ee7366;
        }
      }

      .nav-bar-section2 {
        display: flex;
        justify-content: space-around;
        height: 70px;
        background-color: var(--background-primary);
        align-items: center;

        .nav-bar-logo {
          img {
            width: 200px;
            cursor: pointer;
          }
        }

        .nav-bar-options {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          list-style: none;
          width: 40%;
          justify-content: space-between;
          
          li {
            padding: 5%;
          }

          li:hover {
            transform: scale(1.5);
            background-color: #e26e6198;
            backdrop-filter: blur(100px);
            color: white;
          }
        }

        .nav-bar-button {
          display: flex;
          align-content: flex-start;
          border: 3px solid #ec5242;
          padding: 5px;
          color: var(--color-secundary);
          cursor: pointer;
        }
      }

      .hamburguer-button {
        display: none;
      }
    }
  }

  main {
    padding-bottom: 50px;

    .intro-container {
      height: 89vh;
      padding-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      h2 {
        color: var(--color-secundary);
        font-weight: 500;
      }

      h1 {
        color: rgba(255, 0, 0, 0);
        font-family: var(--font-family--primary);
        font-weight: bold;
        font-size: 60px;
        width: 70%;
        line-height: 55px;
        margin: 1% 30% 1% 0;
        background-image: url(assets/Erik\ Capstone.jpg);
        background-repeat: no-repeat;
        background-size: 150%;
        background-clip: text;
        background-position: 50% 55%;
      }

      .intro-paragraph1 {
        width: 60%;
        background-color: rgba(189, 189, 189, 0.148);
        border: 4px solid white;
        padding: 15px;
        margin: 15px 0 15px 0;
        font-size: .9rem;
      }

      .intro-paragraph2 {
        font-family: var(--font-family--primary);        
        font-size: 1.5rem;
        color: var(--color-primary);
      }

      .intro-paragraph3 {
        font-size: 19px;
        font-weight: lighter;
        color: var (--color-primary);
      }

        .main-background {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border: 1px solid #000;
          display: block;
          

          .mainbg-1 {
            background-image: url(assets/main-background.jpg);
            background-size: cover;
            width: 100%;
            height: 50%;
            opacity: 0.2;
          } 
          .mainbg-2 {
            position: absolute;
            right: 25%;
            top: 10%;
            width: 50px;
            img {
              width: 100%;
              opacity: 0.2;
            }
          }
          .mainbg-3 {
            
          }
          .mainbg-4 {
            display: none;
          }
          .mainbg-5 {
            display: none;
          }


      }
    }

    .main-program-section {
      border: 1px solid white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40%;
      background-image: url(assets/Icons/hitmark_gray.png);
      background-size: 25px;
      background-color: #3b3c3edf;
      color: var(--background-primary);

      .container-main-program {
        width: 100%;
        height: 50%;
        background-color: #3b3c3ee2;
        display: flex;
        flex-direction: column;
        justify-self: start;
        align-items: center;
        padding: auto auto;
        padding: 0 5% 0 5%;

        h3 {
          display: flex;
          font-size: 1.3rem;
          justify-content: center;
          margin: 5% 0 0.5% 0;
        }

        hr {
          width: 3%;
          margin-bottom: 50px;
        }

        .cards {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          
          .card-main-program { 
            background-color: rgba(172, 169, 169, 0.199);
            display: flex;
            width: 20%;
            height: auto;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 5px;  
            padding: 2%;  
            
            .card-logo {
              width: 30%;
              min-width: 100px;
              max-height: 10vh;
              min-height: 33%;
              height: 50vw;
              display: flex;
              align-items: center;
              margin: 2% 0 10% 0;  

              img {
                width: 100%; 
              }
            }

            .card-title {
              text-align: center;
              height: 10%;
              color: var(--color-secundary);
              font-size: 1.2rem;
              margin: 0 0 0 0 ;            
            }

            .card-text {
              height: 100px;
              text-align: center;              
              padding: 3%;  
              font-size: 1em;     
              margin-top: 5%;       
            }
          }

        }

        .card-button {
          font-size: 1.3rem;
          margin: 2% 0 4% 0;
          border-bottom: 1px solid white;
        }
      }
    }

    .features-speakerSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .fs-title {
        margin: 20px 0 0 0;
        font-size: 18px;
      }

      hr {
        display: none;
      }

      .speakerfeatures-hr {
        display: block;
        border: 1px solid #ec5242;
        background-color: #ec5242;
        width: 5%;
      }

      .contaier-speakers {
        width: 90%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        justify-content: center;
        margin-top: 30px;
              
        
        .container-info-fs {
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;
          
          .container-img-fs {
            width: 8vw; 
            height: 8vw;
            
            
            display: flex;
            justify-content: right;
            align-items: flex-end;   

            background-image: url(assets/bgi/chess-gray.png);
            background-repeat: no-repeat;
            background-size: 50%;
            background-color: rgba(245, 234, 234, 0.185);

            img {
              width: 85%;
              height: 85%;                                  
            }
          } 

          .container-text-fs {
            width: 60%;
            height: 100%;
            margin-left: 10px;

            .fscard-name {
              font-weight: bold;
              display: flex;
              align-items: center;
              font-size: 1rem;
              height: 30%;
            }
            .fscard-degree {
              color: var(--color-secundary);
              font-size: 0.8rem;
              height: 15%;
            }
            .hr-speaker {
              display: block;
              margin: 5px 0 5px 0;
              padding: 0;
              height: 0;
              border: 1px solid #272a3148;    
              background-color: #2f273105;         
            }
            .fscard-text {              
              font-size: 0.8rem;
              height: 40%;
              display: flex;
              align-items: center;
            }
          } 
        }       
      }  
      
      .fs-buttonMore {
        display: none;
      }
    }
  }

  footer {
    .about-footer {
      background-color: #272a31d7;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2% 0 5% 0;
      
      h3 {
        font-size: 1.2rem;
        color: #e4e8f186;
      }

      hr {
        background-color: #fff;
        border: 1px solid #ec5242;
        display: block;
        width: 5%;
        background-color: rgb(250, 0, 0);
        margin: 2%;
      }

      .partner-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        
        img {
          width: 10vw;
          height: 10vw;
          border-radius: 50%;
        }

        img:hover {
          transform: scale(1.2);
        }
      }


    }

    .bottom-partner {
      display: flex;      
      justify-content: center;
      align-items: center;
      
      .bottom-logo {
        width: 30%;
        display: flex;
        justify-content: right;

        img {
          width: 80%;
        }
      }

      .rights-reserved {
        width: 40%;
        height: 50%;     
        text-align: left;       
      }
    }
  }

  .modal-menuAbout {
    display: none;
  }
}


// About page
/* Mobil version - About page ------------------------------------------------------ */
@media screen and (max-width: 768px) {

  .intro-containerAbout {

    .intro-part1 {
      background-color: rgba(247, 247, 247, 1);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 60px 5% 10% 5%;

      h2 {
        color: var(--color-secundary);
        font-weight: lighter;
        font-size: 20px;
      }

      h1 {
        color: rgba(255, 0, 0, 0);
        font-family: var(--font-family--primary);
        font-weight: bold;
        font-size: 25px;
        width: 100%;
        line-height: 29px;
        margin: 15px 0 1% 0;
        text-align: center;
        background-image: url(assets/Erik\ Capstone.jpg);
        background-repeat: no-repeat;
        background-size: 150%;
        background-clip: text;
        background-position: 50% 55%;
      }

      .background {
        .hitmark-1 {
          background-image: url(assets/bgi/hitmark_colorful.png);
          background-size: 23%;
          border-radius: 50%;
          position: absolute;
          width: 60px;
          height: 60px;
          left: 10%;
          bottom: 42%;
          z-index: 1;
        }

        .hitmark-2 {
          background-image: url(assets/bgi/chess_black.png);
          background-size: 125%;
          border-radius: 50%;
          position: absolute;
          width: 30px;
          height: 30px;
          right: 1%;

          bottom: 44%;
          z-index: 1;
          opacity: 0.2;
        }

        .hitmark-3 {
          background-image: url(assets/bgi/lines-orange.png);
          background-size: 25%;
          border-radius: 50%;
          position: absolute;
          width: 20px;
          height: 20px;
          left: 15%;
          top: 8%;
          z-index: 1;
          opacity: 0.7;
        }
        

        .hitmark-4 {
          background-image: url(assets/bgi/chess_black.png);
          background-size: 125%;
          border-radius: 50%;
          position: absolute;
          width: 30px;
          height: 30px;
          left: 3%;
          top: 31%;
          z-index: 1;
          opacity: 0.2;
        }

        .hitmark-5 {
          background-image: url(assets/bgi/lines-wnb.png);
          background-size: 125%;
          border-radius: 50%;
          position: absolute;
          width: 30px;
          height: 30px;
          right: 12%;
          top: 12%;
          z-index: 1;
          opacity: 0.7;
        }
      }

      .intro-paragraph1 {
        width: 100%;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        padding: 15px;
        margin: 35px 0 15px 0;
        font-size: 12px;
        text-align: center;
        z-index: 10;
      }

      .intro-paragraph2 {
        display: flex;
        font-weight: lighter;
        font-size: 12px;
        text-align: center;
        padding: 10px 0 10px 0;
      }

      .intro-paragraph3 {
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline;
        color: var (--color-primary);
      }
    }

    .intro-part2 {
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5% 5% 10% 5%;

      h3 {
        padding: 5% 0 0 0 ;
        font-size: 16px;
        text-align: center;
      }

      .intro-paragraph4 {
        text-align: center;
        padding: 0 0 8% 0;
      }

      .intro-imgp2 {
        border: 1px solid rgba(102, 102, 102, 0.299);
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 90%;
        }
      }
    }

    .intro-part3 {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5% 5% 5% 5%;

      // h3 {}

      p {
        text-align: center;
        padding: 0 0 8% 0;
        opacity: 0.9;
      }

      .event1 {
        border: 1px solid rgba(78, 77, 77, 0.173);
        width: 100%;  
        margin: 0 0 15px 0;      
        img {
          width: 100%;          
        }
      }

      .event2 {
        border: 1px solid rgba(78, 77, 77, 0.173);
        width: 100%;
        height: 100%;
        img {
          width: 100%;
        }
      }

    }
  }

  .about-footer {
    background-color: #3b3c3e;
    color: #d4d7e0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

    .partner-section{
      width: 100%;
      height: 70%;
      padding: 0;
      margin: 0;
      align-items: center;
      display: grid;
      grid-template-areas: 
      "p1 p1 p2 p2 p3 p3"
      "p4 p4 p4 p5 p5 .";
      
      grid-template-columns: 15% 15% auto auto 15% 15%;

      .partner1 {
        grid-area: p1;
        grid: 3fr;
        img {
          width: 45%;
        }
      }
      .partner2 {
        grid-area: p2;
        grid: 3fr;
        img {
          width: 40%;
          border-radius: 50%;
        }
      }
      .partner3 {
        grid-area: p3;
        grid: 3fr;
        img {
          width: 60%;
          border-radius: 50%;
        }
      }
      .partner4 {
        grid-area: p4;
        img {
          width: 20%;
        }
      }
      .partner5 {
        grid-area: p5;
        img {
          width: 20%;
        }
      }
    }
  }

  .bottom-partner {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    font-weight: lighter;
    font-size: 10px;

    .bottom-logo {
      width: 40%;
      img {
        width: 80%;
      }
    }

    .rights-reserved {
      display: flex;
      align-items: center;
      width: 40%;
    }
  }


      /* Modal Menu */
  .modal-menu {
    display: none;
    position: fixed;
    background-color: rgba(135, 55, 9, 0.537);
    backdrop-filter: blur(55px);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0%;
    z-index: 900;

      i {
        position: absolute;
        left: 5%;
        top: 2%;
        font-size: 1.5rem;
        transition: all 0.1s ease-in;
        color: white;
        text-shadow: 2px 2px 2px black;
      }

      .modal-hamburguer {
        position: absolute;
        list-style: none;
        text-align: center;
        width: 100%;
        top: 20%;
        margin: 0;
        padding: 0;
        padding-bottom: 100px;

        li {
          text-decoration: none;
          font-size: 1.5rem;
          margin: 0;
          padding-top: 10px;
          padding-bottom: 15px;
          transition: all 0.1s;
          a {
            text-decoration: none;
            margin: 0;
            color: rgb(254, 250, 250);
            text-shadow: 2px 2px 2px black;
          }
        }
        li a:hover {
          transform: scale(1.2);
          color: var(--color-secundary);
        }
      }
      .modal-hamburguer li:hover {
        transform: scale(1.2);
        color: var(--color-secundary);
      }


    }
  .modal-menu i:hover {
      transform: scale(1.2);
      color: var(--color-secundary);
    }
  .modal-hamburguer a:hover {
    color: var(--color-secundary);
    }


  
}

/* Desktop version - About page ------------------------------------------------------ */
@media screen and (min-width: 769px) {
}
